<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=edge">
	<meta name="author" content="SemiColonWeb">
	<meta name="description" content="Create Jewellery Design, Showcase &amp; Boutique Websites with Canvas Template. Get Canvas to build powerful websites easily with the Highly Customizable &amp; Best Selling Bootstrap Template, today.">

	<!-- Font Imports -->
	<link rel="stylesheet" href="https://use.typekit.net/vgf0rfn.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<!-- Core Style -->
	<link type="text/css" rel="stylesheet" href="/css/style.css">

	<!-- Font Icons -->
	<link type="text/css" rel="stylesheet" href="/css/font-icons.css">
 
	<!-- Niche Demos -->
	<link rel="stylesheet" href="/demos/jewellery-boutique/jewellery-boutique.css"> <!-- jewellery-boutique Custom Css -->

	<!-- Custom CSS -->
	<link rel="stylesheet" href="/css/custom.css">
	<link rel="stylesheet" href="/css/preview-style.css">
    <link rel="stylesheet" href="/css/media.css">
	<link rel="stylesheet" href="/css/header.css">


	<!-- Dropzone CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.css" />

	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/images/ator_gold.jpg">
	<!-- Document Title
	============================================= -->
	<title>{{.Title}}</title>

</head>

<body class="stretched">
	
	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper">
		{{template "partials/header1" .}}
		{{embed}}
		{{template "partials/footer" .}}
	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="uil uil-angle-double-up rounded-circle"></div>

	<!-- JavaScripts
	============================================= -->

	<script src="/js/color_change.js"></script>
	
	<script src="/js/header.js"></script>
	<script src="/js/sidepanel.js"></script>
	<script src="/js/plugins.min.js"></script>
	<script src="/js/functions.bundle.js"></script>
	<script src="js/cnvsswitcher.js" ></script>
	<script src="/js/for_file.js"></script>
	
	<script src="/js/upload.js" ></script>
	<script src="/js/read_more.js" defer></script>

	<!-- Parallax Script
	============================================= -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/skrollr/0.6.30/skrollr.min.js"></script>
	<script>!SEMICOLON.Mobile.any() && skrollr.init({forceHeight: false});</script>

	<!-- Hover Image Animate -->
	<script src="/demos/jewellery-boutique/js/hover-img-animate.js"></script>

	<!-- Circle Rotate JS -->
	<script src="https://cdn.jsdelivr.net/npm/circletype@2.3.0/dist/circletype.min.js"></script>

	
	<!-- Custom Scripts - Jewellery boutique related
	============================================= -->
	<script src="/demos/jewellery-boutique/js/custom.js"></script>
	
	
	<!-- Dropzone JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/dropzone.min.js"></script>


</body>
</html>