<section id="slider" class="slider-element min-vh-60 min-vh-md-100 dark error404-wrap include-header" style="background: url(&quot;/images/404_bg2.jpg&quot;) center center; margin-top: -101px;" data-bs-theme="dark">
    <div class="slider-inner">

        <div class="vertical-middle">
            <div class="container text-center py-5 py-md-0">

                <div class="error404">404</div>

                <div class="heading-block border-bottom-0">
                    <h4>Ooooops. Yolunuzu kaybettiniz sanırım</h4>
                    
                </div>

            </div>
        </div>

    </div>
</section>