<div id="wrapper">

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap py-0">

            <div class="section p-0 m-0 h-100 position-absolute" style="background: url('images/parallax/home/12.jpg') center center no-repeat; background-size: cover; filter: blur(7px);"></div>

            <div class="section bg-transparent min-vh-100 p-0 m-0">
                <br><br><br>
                <div class="vertical-middle">
                    <div class="container-fluid py-5 mx-auto">
                        <div class="text-center">
                            <a href="/"><img src="demos/jewellery-boutique/images/ator_15.png" height="30" alt="Ator Gold Logo"></a>
                        </div>
                        <br>
                        <div class="card mx-auto rounded-100 border-50" style="max-width: 400px; background-color: rgba(255,255,255,0.93);">
                            <div class="card-body" style="padding: 40px; ">
                                <form name="login-form" class="mb-0" action="/auth/login" method="post">
                                    <h3>Hesabınıza Giriş Yapın</h3>
                                    <div class="row">
                                        <div class="col-12 form-group">
                                            <label for="login-form-username">Kullanıcı adı:</label>
                                            <input type="text" name="email"  class="form-control not-dark" data-bs-theme="light" placeholder="Mail adresinizi giriniz" required>
                                        </div>

                                        <div class="col-12 form-group">
                                            <label for="login-form-password">Şifre:</label>
                                            <input type="password" name="password" class="form-control not-dark" data-bs-theme="light" placeholder="Şifrenizi giriniz" required>
                                        </div>

                                        <div class="col-12 form-group">
                                            <div class="d-flex justify-content-between">
                                                <button class="button button-3d button-black m-0" id="login-form-submit" name="login-form-submit" value="login" type="submit">Giriş Yap</button>
                                                <a href="#">Şifremi Unuttum</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                                <div class="line line-sm"></div>

                                <div class="w-100 text-center">
                                    
                                </div>
                            </div>
                        </div>

                        <div class="text-center dark mt-3" data-bs-theme="dark"><small>Copyrights © Tüm Hakları Ator Gold® tarafından Saklıdır.</small></div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- #content end -->

</div>