<div class="body-overlay"></div>
<div id="side-panel" >

    <div id="side-panel-trigger-close" class="side-panel-trigger"><a href="#"><i class="bi-x-lg"></i></a></div>

    <div class="side-panel-wrap">

        <div class="widget">

            <h4>İletişim</h4>

            <nav class="nav-tree mb-0">
                <ul>
                    <li class="sub-menu"><i class="fa-solid fa-contact-book"></i>İletişim Bilgileri
                       
                            <li style="display: flex; align-items: center; margin-left: 20px;">
                                <i class="uil-phone-alt" style="margin-right: 4px;"></i>
                                <a href="#">0545 365 82 34</a>
                            </li>

                            <li style="display: flex; align-items: center; margin-left: 20px;">
                                <i class="uil-post-stamp" style="margin-right: 4px;"></i>
                                <a href="#">atorgold@gmail.com</a>
                            </li>

                            <li style="display: flex; align-items: center; margin-left: 20px;">
                                <i class="uil-instagram" style="margin-right: 4px;"></i>
                                <a href="#">atorgold</a>
                            </li>
                            
                        
                    </li>
                    
                    <li>
                        <a href="#">
                            <i class="bi-geo-alt-fill">
                            </i>Molla Fenari Mah. Vezirhan Cad. Vezirhan İçi. Küçük Vezirhan Orta Kat No:7 Fatih/ISTANBUL
                        </a>
                    </li>
                </ul>
            </nav>

        </div>

        <div class="widget quick-contact-widget form-widget">

            <h4>Mail Gönderin</h4>
            <div class="form-result"></div>
            <form id="quick-contact-form" name="quick-contact-form" action="include/form.php" method="post" class="quick-contact-form mb-0" novalidate="novalidate">
                <div class="form-process">
                    <div class="css3-spinner">
                        <div class="css3-spinner-scaler"></div>
                    </div>
                </div>
                <input type="text" class="required form-control mb-2" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="İsim Soyisim">
                <input type="text" class="required form-control email mb-2" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="Mail Adresi">
                <textarea class="required form-control mb-2 short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="4" cols="30" placeholder="Mesaj"></textarea>
                <input type="text" class="d-none" id="quick-contact-form-botcheck" name="quick-contact-form-botcheck" value="">
                <input type="hidden" name="prefix" value="quick-contact-form-">
                <button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="button button-small button-3d m-0" value="submit">Maili Gönder</button>
            </form>

        </div>

    </div>

</div>